<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{{title}}</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

{{#entries}}
    <div class="panel panel-default">
          <div class="panel-heading">
              {{subject}}
          </div>
          <div class="panel-body">
              {{review}}
          </div>
     </div>
{{/entries}}

	
</body>

</html>
